.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 5em;
  background: #333333;
  z-index: 1;
}

.menuButton {
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  color: #eeeeee;
  font-size: 2rem;
  cursor: pointer;
  transition-duration: 280ms;
}

.menuButton:is(:focus, :hover) {
  background-color: #eeeeee;
  color: #5500aa;
}

.homeLink {
  text-decoration: none;
  display: inline-block;
  color:#eeeeee;
  margin-left: 1rem;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  transition-duration: 280ms;
}

.homeLink:is(:focus, :hover) {
  color: #5500aa;
  background-color: #eeeeee;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #333333;
  top: 5rem;
  left: -100%;
  text-align: center;
  transition: all 0.3s;
}

.navList.active {
  left: 0;
}

.navList .navItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navList .navItem .navLink {
  text-decoration: none;
  color:#eeeeee;
  padding: 2rem 0;
  margin: 1rem 2rem;
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-variant: small-caps;
  border-radius: 0.5rem;
  transition-duration: 280ms;
}

.navList .navItem .navLink:is(:focus, :hover) {
  color: #5500aa;
  background-color: #eeeeee;
}

@media (min-width: 43em) {
  .menuButton {
    margin-right: 4rem;
  }

  .homeLink {
    margin-left: 4rem;
  }
}

@media (min-width: 62rem) {
  .menuButton {
    margin-right: 10rem;
    display: none;
    opacity: 100%;
    visibility: hidden;
  }

  .homeLink {
    margin-left: 10rem;
  }

  .navList {
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    margin-right: 10rem;
  }

  .navList .navItem .navLink {
    padding: 0.25rem 0.75rem;
    margin: 0 0.4rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 82rem) {
  .homeLink {
    margin-left: 18rem;
  }

  .navList {
    margin-right: 18rem;
  }
}